.horizontal-container {
  display: flex;
  overflow: hidden; /* Hide overflow to prevent scrollbar */
}

.section2 {
  display: flex;
}

.small-container {
  margin: 10px;
  text-align: center;
  width: 220px; /* Increased width */
  height: 270px; /* Increased height */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /* Add transition for the pop-out effect */
}

.small-container:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.rectangle {
  width: 220px; /* Increased width */
  height: 180px; /* Increased height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add smooth transition to the container */
.section2 {
  transition: transform 1s;
}
